@import url("https://fonts.googleapis.com/css2?family=K2D:wght@400;500;600;700;800&family=Oswald:wght@400;500;600;700&display=swap");

.ff_oswald {
  font-family: "Oswald";
}

.ff_k2d {
  font-family: "K2D";
}
.bg_nav_btn {
  box-shadow: 0px 0px 6px 0px rgba(118, 35, 198, 0.8);
  background: radial-gradient(
      120.14% 119.17% at 93.56% 8%,
      #00e0f7 0%,
      #8b00bd 72.13%
    ),
    #fff;
}
.bg_nav_btn:hover {
  background: linear-gradient(
      93.56% 8% 120.14% at 119.17%,

      #8b00bd 72.13% #00e0f7 0%
    ),
    #fff;
}
.blacklayer {
  background: linear-gradient(360deg, #000 37.24%, rgba(0, 0, 0, 0.01) 88.23%);
}
.blacklayer2 {
  background: linear-gradient(180deg, #000 37.24%, rgba(0, 0, 0, 0.01) 88.23%);
}
@media (min-width: 1024px) {
  .bg_nav {
    background: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(10px);
  }
}
@media (max-width: 1333px) {
  .header_left {
    min-width: 200px !important;
    max-width: 300px;
    top: 49% !important;
    left: -8%;
  }
}
@media (max-width: 608px) {
  .header_left {
    min-height: 349.742px !important;
    max-width: 274.461px;
    top: 60% !important;
    left: -20% !important;
  }
}
.tab_bg {
  background: rgba(255, 255, 255, 0.02);

  backdrop-filter: blur(20px);
}
.backdrop_blur_20px {
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.02);
}
.tabbtn::before {
  fill: radial-gradient(
    120.14% 119.17% at 93.56% 58%,
    rgba(0, 224, 247, 0.8) 0%,
    #8b00bd 88.12%
  );
  stroke-width: 3px;
  stroke: rgba(0, 224, 247, 0.8);
}
.tabbtn:focus::before {
  opacity: 100%;
}
.tabbtn::before {
  content: "";
  height: 2px;
  width: 100%;
  background: radial-gradient(
    120.14% 119.17% at 93.56% 58%,
    rgba(0, 224, 247, 0.8) 0%,
    #8b00bd 88.12%
  );
}
.slick-slide{
  padding-left: 12px !important;
  padding-right: 12px !important;
}
/* preloader */

.wrapper{
  transform: scale(1.5);
}
.loader{
 animation: rotate 3.5s linear infinite;
}
 
@keyframes rotate {
  30%{
    transform: rotate(220deg);
  }
  40%{
  transform: rotate(450deg);
    opacity: 1;
 }
 75%{
  transform: rotate(720deg);
  opacity: 1;
 }
 76%{
  opacity: 0;
 }
 100%{
  opacity: 0;
  transform: rotate(0deg);
 }
}
.loader:nth-child(1){
  animation-delay: 0.15s;
}
.loader:nth-child(2){
  animation-delay: 0.3s;
}
.loader:nth-child(3){
  animation-delay: 0.45s;
}
.loader:nth-child(4){
  animation-delay: 0.6s;
}
.loader:nth-child(5){
  animation-delay: 0.75s;
}
.loader:nth-child(6){
  animation-delay: 0.9s;
}
