@import url("https://fonts.googleapis.com/css2?family=K2D:wght@400;500;600;700;800&family=Oswald:wght@400;500;600;700&display=swap");
.ff_oswald {
  font-family: "Oswald";
}
.ff_k2d {
  font-family: "K2D";
}
.bg_nav_btn {
  box-shadow: 0px 0px 6px 0px rgba(118, 35, 198, 0.8);
  background: radial-gradient(
      120.14% 119.17% at 93.56% 8%,
      #00e0f7 0%,
      #8b00bd 72.13%
    ),
    #fff;
}
.blacklayer {
  background: linear-gradient(360deg, #000 37.24%, rgba(0, 0, 0, 0.01) 88.23%);
}
@media (min-width: 1024px) {
  .bg_nav {
    background: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(10px);
  }
}
@media (max-width: 1333px) {
  .header_left {
    min-width: 200px !important;
    max-width: 300px;
    top: 49% !important;
  }
}
@media (max-width: 608px) {
  .header_left {
    min-height: 349.742px !important;
    max-width: 274.461px;
   
    top: 60% !important;
    left: -10% !important;
  }
}
